ul > li {
  height: 400px;
}

.nav-lists {
  padding: 0;
  display: flex;
}

.nav-list {
  list-style-type: none;
  flex: 1;
  transition: all 300ms ease-in-out;
}

.nav-list:hover {
  cursor: pointer;
  transform: scale(1.5, 1);
}

.nav-list-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}